<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StartMe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <StartMe.Properties.Settings>
            <setting name="Path1" serializeAs="String">
                <value />
            </setting>
            <setting name="Path2" serializeAs="String">
                <value />
            </setting>
            <setting name="Path3" serializeAs="String">
                <value />
            </setting>
            <setting name="Path4" serializeAs="String">
                <value />
            </setting>
            <setting name="Path5" serializeAs="String">
                <value />
            </setting>
            <setting name="Path6" serializeAs="String">
                <value />
            </setting>
            <setting name="Path7" serializeAs="String">
                <value />
            </setting>
            <setting name="Path8" serializeAs="String">
                <value />
            </setting>
            <setting name="Path9" serializeAs="String">
                <value />
            </setting>
            <setting name="StopDelay1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopDelay2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopDelay3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopDelay4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopDelay5" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopDelay6" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopDelay7" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopDelay8" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StopDelay9" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeysStart1" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStart2" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStart3" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStart4" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStart5" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStart6" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStart7" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStart8" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStart9" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Start1Next" serializeAs="String">
                <value />
            </setting>
            <setting name="Start2Next" serializeAs="String">
                <value />
            </setting>
            <setting name="Start3Next" serializeAs="String">
                <value />
            </setting>
            <setting name="Start4Next" serializeAs="String">
                <value />
            </setting>
            <setting name="Start5Next" serializeAs="String">
                <value />
            </setting>
            <setting name="Start6Next" serializeAs="String">
                <value />
            </setting>
            <setting name="Start7Next" serializeAs="String">
                <value />
            </setting>
            <setting name="Start8Next" serializeAs="String">
                <value />
            </setting>
            <setting name="Start9Next" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStop1" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStop2" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStop3" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStop4" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStop5" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStop6" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStop7" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStop8" serializeAs="String">
                <value />
            </setting>
            <setting name="KeysStop9" serializeAs="String">
                <value />
            </setting>
            <setting name="CPU1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CPU2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CPU3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CPU4" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CPU5" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CPU6" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CPU7" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CPU8" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CPU9" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Args1" serializeAs="String">
                <value />
            </setting>
            <setting name="Args2" serializeAs="String">
                <value />
            </setting>
            <setting name="Args3" serializeAs="String">
                <value />
            </setting>
            <setting name="Args4" serializeAs="String">
                <value />
            </setting>
            <setting name="Args5" serializeAs="String">
                <value />
            </setting>
            <setting name="Args6" serializeAs="String">
                <value />
            </setting>
            <setting name="Args7" serializeAs="String">
                <value />
            </setting>
            <setting name="Args8" serializeAs="String">
                <value />
            </setting>
            <setting name="Args9" serializeAs="String">
                <value />
            </setting>
            <setting name="Minimize1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimize2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimize3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimize4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimize5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimize6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimize7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimize8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minimize9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsKeyCurrent" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Minimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Start1Stop" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Start2Stop" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Start3Stop" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Start4Stop" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Start5Stop" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Start6Stop" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Start7Stop" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Start8Stop" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Start9Stop" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Admin1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Admin9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Priority1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Priority2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Priority3" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Priority4" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Priority5" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Priority6" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Priority7" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Priority8" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Priority9" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Pid1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pid2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pid3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pid4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pid5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pid6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pid7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pid8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pid9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Kill1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Kill2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Kill3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Kill4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Kill5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Kill6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Kill7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Kill8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Kill9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartDelay1After" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartDelay2After" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartDelay3After" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartDelay4After" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartDelay5After" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartDelay6After" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartDelay7After" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartDelay8After" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartDelay9After" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RestoreBounds" serializeAs="String">
                <value>0, 0, 1354, 397</value>
            </setting>
            <setting name="labelMainWindowHandle1" serializeAs="String">
                <value />
            </setting>
            <setting name="labelMainWindowHandle2" serializeAs="String">
                <value />
            </setting>
            <setting name="labelMainWindowHandle3" serializeAs="String">
                <value />
            </setting>
            <setting name="labelMainWindowHandle4" serializeAs="String">
                <value />
            </setting>
            <setting name="labelMainWindowHandle5" serializeAs="String">
                <value />
            </setting>
            <setting name="labelMainWindowHandle6" serializeAs="String">
                <value />
            </setting>
            <setting name="labelMainWindowHandle7" serializeAs="String">
                <value />
            </setting>
            <setting name="labelMainWindowHandle8" serializeAs="String">
                <value />
            </setting>
            <setting name="labelMainWindowHandle9" serializeAs="String">
                <value />
            </setting>
            <setting name="Path1Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path2Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path3Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path4Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path5Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path6Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path7Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path8Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Path9Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepRunning1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepRunning2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepRunning3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepRunning4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepRunning5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepRunning6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepRunning7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepRunning8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepRunning9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EZName1" serializeAs="String">
                <value />
            </setting>
            <setting name="EZName2" serializeAs="String">
                <value />
            </setting>
            <setting name="EZName3" serializeAs="String">
                <value />
            </setting>
            <setting name="EZName4" serializeAs="String">
                <value />
            </setting>
            <setting name="EZName5" serializeAs="String">
                <value />
            </setting>
            <setting name="EZName6" serializeAs="String">
                <value />
            </setting>
            <setting name="EZName7" serializeAs="String">
                <value />
            </setting>
            <setting name="EZName8" serializeAs="String">
                <value />
            </setting>
            <setting name="EZName9" serializeAs="String">
                <value />
            </setting>
            <setting name="WinWait1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinWait2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinWait3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinWait4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinWait5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinWait6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinWait7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinWait8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinWait9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartDelayBefore1" serializeAs="String">
                <value>deprecated</value>
            </setting>
            <setting name="StartDelayBefore2" serializeAs="String">
                <value>deprecated</value>
            </setting>
            <setting name="StartDelayBefore3" serializeAs="String">
                <value>deprecated</value>
            </setting>
            <setting name="StartDelayBefore4" serializeAs="String">
                <value>deprecated</value>
            </setting>
            <setting name="StartDelayBefore5" serializeAs="String">
                <value>deprecated</value>
            </setting>
            <setting name="StartDelayBefore6" serializeAs="String">
                <value>deprecated</value>
            </setting>
            <setting name="StartDelayBefore7" serializeAs="String">
                <value>deprecated</value>
            </setting>
            <setting name="StartDelayBefore8" serializeAs="String">
                <value>deprecated</value>
            </setting>
            <setting name="StartDelayBefore9" serializeAs="String">
                <value>deprecated</value>
            </setting>
        </StartMe.Properties.Settings>
    </userSettings>
</configuration>