<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.1.0-3.final" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.1.0-3.final" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="6.0.2" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.0-pre20220207221914" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="6.0.2-mauipre.1.22054.8" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.2-mauipre.1.22054.8" targetFramework="net48" />
  <package id="System.Management" version="6.0.2-mauipre.1.22054.8" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="6.0.2-mauipre.1.22054.8" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.2-mauipre.1.22054.8" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="6.0.2-mauipre.1.22054.8" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>